<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <title>@ViewBag.Title</title>

    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@


    <!-- =============== VENDOR STYLES ===============-->
    <!-- FONT AWESOME-->
    <link href="@Url.Content("~/Scripts/fontawesome/css/font-awesome.min.css")" rel="stylesheet" />
    <!-- SIMPLE LINE ICONS-->
    <link href="@Url.Content("~/Scripts/simple-line-icons/css/simple-line-icons.css")" rel="stylesheet" />
    <!-- ANIMATE.CSS-->
    <link href="@Url.Content("~/Scripts/animate.css/animate.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Scripts/spinkit/css/spinkit.css")" rel="stylesheet" />
    <!--DATA TABLES.CSS-->


    <!-- =============== BOOTSTRAP STYLES ===============-->
    @*<link href="Content/bootstrap.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- =============== APP STYLES ===============-->
    <link href="@Url.Content("~/content/app.css?a=1")" rel="stylesheet" />
    <!--Tema.CSS-->
    <link href="@Url.Content("~/content/theme-h.css")" rel="stylesheet" />

    <link href="@Url.Content("~/content/plantilla.css")" rel="stylesheet" />
    <!--Notificaciones.CSS-->
    <link href="@Url.Content("~/content/notificacion.css")" rel="stylesheet" />


    <link rel="stylesheet" href="https://bossanova.uk/jexcel/v3/jexcel.css" type="text/css" />
    <link rel="stylesheet" href="https://bossanova.uk/jsuites/v2/jsuites.css" type="text/css" />
    <link href="http://hayageek.github.io/jQuery-Upload-File/4.0.11/uploadfile.css" rel="stylesheet">
    <link href="@Url.Content("~/Scripts/select2/css/select2.css")" rel="stylesheet" />
    
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">*@
    @*<link href="~/Scripts/datatables/media/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Scripts/datatables/media/css/responsive.dataTables.css" rel="stylesheet" />
    <link href="~/Scripts/datatables/media/css/tablesaw.css" rel="stylesheet" />*@

    
    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/w/bs/dt-1.10.18/af-2.3.3/b-1.5.6/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.5.0/r-2.2.2/rg-1.1.0/rr-1.2.4/sc-2.0.0/sl-1.3.0/datatables.min.css"/>
 
</head>
<body class="layout-fixed">
    <div class="wrapper">
        <!-- top navbar-->
        <header class="topnavbar-wrapper">
            <!-- Inicio Top Navbar-->
            <nav role="navigation" class="navbar topnavbar">
                <!-- Inicio navbar header-->
                <div class="navbar-header">
                    <a href="#/" class="navbar-brand">
                        <div class="brand-logo">
                            <img src="@Url.Content("~/Content/images/LogoGeneralSimple_BCO.png")" alt="App Logo" class="img-responsive" />
                        </div>
                        <div class="brand-logo-collapsed">
                            <img src="@Url.Content("~/Content/images/LogoGeneralSimple_BCO.png")" alt="App Logo" class="img-responsive" />
                        </div>
                    </a>
                </div>
                <!-- Fin navbar header-->
                <!-- Inicio Nav wrapper-->
                <div class="nav-wrapper">
                    <!-- Inicio Barra de Navegación Izquierdo-->
                    <ul class="nav navbar-nav">
                        <li>
                            <!-- Boton para mostrar/ocultar el "sidebar" en mobiles.-->
                            <a href="#" data-toggle-state="aside-toggled" data-no-persist="true" class="visible-xs sidebar-toggle">
                                <em class="fa fa-navicon"></em>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tooltip" data-placement="bottom" title="INICIO" href="@Url.Action("Index", "Home")" target="_self">
                                <em class="fa icon-home"></em>
                            </a>
                        </li>
                        <li></li>
                    </ul>


                    <!-- FIN Barra de Navegación Izquierdo-->
                    <!-- INICIO Barra de Navegación Derecho-->
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" data-toggle-fullscreen="" title="Pantalla Completa" data-toggle="tooltip" data-placement="bottom">
                                <em class="fa fa-expand"></em>
                            </a>
                        </li>

                        <li id="notis" class="dropdown dropdown-list">

                            <a href="#" data-toggle="dropdown" title="Notificaciones">
                                <span title="Notificaciones" data-toggle="tooltip" data-placement="bottom">
                                    <em class="fa fa-bell"></em>
                                </span>
                                <div id="total-notis" class="label label-danger n-total">0</div>
                            </a>
                            <ul class="dropdown-menu animated flipInX">
                                <li>
                                    <div id="lstNotificaciones" class="list-group">
                                        <div class="nuevos-notis">
                                        </div>
                                        <a id="mostrarnotis" href="#" class="list-group-item">
                                            <small>Más Notificaciones</small>
                                            <span id="numNotificacionestotal" class="label label-danger pull-right"></span>
                                        </a>

                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" title="Menú sistemas" data-toggle="tooltip" data-placement="bottom">
                                <em class="icon-notebook"></em>
                            </a>
                        </li>
                        @*<li id="Alertas">
                                <a href="#" title="Alertas">
                                    <span title="Alertas" data-toggle="tooltip" data-placement="bottom">
                                        <em class="fa fa-warning"></em>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-toggle-state="offsidebar-open" data-no-persist="true">
                                    <span title="Más" data-toggle="tooltip" data-placement="bottom">
                                        <em class="fa fa-book"></em>
                                    </span>
                                </a>
                            </li>*@
                    </ul>
                    <!-- FIN Barra de Navegación Derecho-->
                </div>
                <!-- Fin Nav wrapper-->
            </nav>
            <!-- Fin Top Navbar-->
        </header>
        <!-- Menú lateral oculto-->
        <aside class="offsidebar hide">
            <!-- Inicio Menú lateral Derecho-->
            <nav>
                <div role="tabpanel">
                    <!-- Nav tabs-->
                    <ul role="tablist" class="nav nav-tabs nav-justified">
                        <li role="presentation" class="active">
                            <a href="#validador-doc" aria-controls="app-settings" role="tab" data-toggle="tab"></a>
                        </li>
                    </ul>
                    <!-- Tab panes-->
                    <div class="tab-content">
                        <div id="validador-doc" role="tabpanel" class="tab-pane fade in active">
                            <h3 class="text-center text-thin">ISSSTECAM</h3>
                            <div class="p">
                                <h4 class="text-muted text-thin">SISTEMAS</h4>
                                <div class="table-grid mb">
                                    <div class="col mb">
                                        <div class="setting-color">
                                            <label data-load-css="css/theme-a.css">
                                                <input type="radio" name="setting-theme" checked="checked">
                                                <%--<span class="icon-check"></span>--%>
                                    
                                                <em class="fa fa-archive icono-sistema"></em>
                                                <span class="split">
                                                    <span class="color bg-inventarios item-apps"></span>
                                                </span>
                                                <span class="color bg-white"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col mb">
                                        <div class="setting-color">
                                            <label data-load-css="css/theme-b.css">
                                                <input type="radio" name="setting-theme">
                                                <em class="fa fa-user icono-sistema"></em>
                                                <span class="split">
                                                    <span class="color bg-rh item-apps"></span>
                                                </span>
                                                <span class="color bg-white"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col mb">
                                        <div class="setting-color">
                                            <label data-load-css="css/theme-c.css">
                                                <input type="radio" name="setting-theme">
                                                <span class="icon-check"></span>
                                                <span class="split">
                                                    <span class="color bg-purple"></span>
                                                    <span class="color bg-purple-light"></span>
                                                </span>
                                                <span class="color bg-white"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col mb">
                                        <div class="setting-color">
                                            <label data-load-css="css/theme-d.css">
                                                <input type="radio" name="setting-theme">
                                                <span class="icon-check"></span>
                                                <span class="split">
                                                    <span class="color bg-danger"></span>
                                                    <span class="color bg-danger-light"></span>
                                                </span>
                                                <span class="color bg-white"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Fin Menú lateral Derecho-->
        </aside>
        <aside class="aside">
            <!-- INICIO Menu lateral Izquierdo-->
            <div class="aside-inner">
                <nav class="sidebar show-scrollbar" data-sidebar-anyclick-close="">

                    <!-- INICIO Menú lateral nav-->
                    <ul id="menu" class="nav">
                        <!-- INICIO Informacion de Usuario-->
                        <li class="has-user-block">
                            <div id="user-block">
                                <div class="item user-block">
                                    <div class="user-block-picture">
                                        <div class="user-block-status">
                                            <img src="@Url.Content("~/Content/images/escudoCampeche.png")" alt="Avatar" width="60" height="60" class="img-thumbnail img-circle">
                                            <div class="circle circle-success circle-lg"></div>
                                        </div>
                                    </div>
                                    <div class="user-block-info">
                                        <span class="user-block-name">
                                            <span class="user-block-name">@ViewBag.Usuario</span>
                                            <span class="user-block-rol">@ViewBag.Puesto</span>
                                            @*<asp:Label ID="lblNombreCorto" runat="server" CssClass="user-block-name"  ClientIDMode="Static"></asp:Label>
                                  <asp:Label ID="lblPuesto" runat="server" CssClass="user-block-role"  ClientIDMode="Static"></asp:Label>*@
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- FIN Informacion Usuario-->
                        <li class="nav-heading" id="textomenu">
                            <span data-localize="sidebar.heading.HEADER">Menú</span>
                        </li>
                        <li>

                            <a href="#Catalogos" title="Catalogos" data-toggle="collapse">
                                <em class="fa fa-database"></em>
                                <span data-localize="sidebar.nav.Catalogos">Catálogos</span>
                            </a>
                            <ul id="Catalogos" class="nav sidebar-subnav collapse in" aria-expanded="true">
                                <li class="sidebar-subnav-header">Catálogos</li>
                                <li>
                                    <a href="@Url.Action("Index", "CentrosCostos")" class="ajax">
                                        <span>Centros de costos</span>
                                    </a>
                                </li>

                                <li class="sidebar-subnav-header">Conceptos de nómina</li>
                                <li>
                                    <a href="@Url.Action("Conceptos", "Nomina")" class="ajax">                                        
                                        <span>Conceptos de nómina</span>
                                    </a>
                                </li>
                            </ul>

                            <a href="#Presupuesto" title="Presupuesto" data-toggle="collapse">
                                <em class="fa fa-calendar"></em>
                                <span data-localize="sidebar.nav.Presupuesto">Presupuesto</span>
                            </a>
                            <ul id="Presupuesto" class="nav sidebar-subnav collapse in" aria-expanded="true">
                                <li class="sidebar-subnav-header">Configuración</li>
                                <li>
                                    <a href="@Url.Action("Index", "Configuraciones")" class="ajax">
                                        <span>Configuración</span>
                                    </a>
                                </li>

                                <li class="sidebar-subnav-header">Calendario</li>
                                <li>
                                    <a href="@Url.Action("Index", "Calendario")" class="ajax">
                                        <span>Calendario</span>
                                    </a>
                                </li>

                                <li class="sidebar-subnav-header">Captura</li>
                                <li>
                                    <a href="@Url.Action("Captura", "ClavesPresupuestales")" class="ajax">
                                        <span>Captura</span>
                                    </a>
                                </li>
                            </ul>


                            <a href="#Solicitudes" title="Solicitudes" data-toggle="collapse">
                                <em class="fa fa-paperclip"></em>
                                <span data-localize="sidebar.nav.Solicitudes">Solicitudes</span>
                            </a>
                            <ul id="Solicitudes" class="nav sidebar-subnav collapse in" aria-expanded="true">
                                <li class="sidebar-subnav-header">Listado</li>
                                <li>
                                    <a href="@Url.Action("Index", "Solicitudes")" class="ajax">                                        
                                        <span>Listado</span>
                                    </a>
                                </li>

                                <li class="sidebar-subnav-header">Operaciones</li>
                                <li>
                                    <a href="@Url.Action("Operaciones", "Solicitudes")" class="ajax">                                        
                                        <span>Operaciones</span>
                                    </a>
                                </li>

                                @*<li class="sidebar-subnav-header">Calendario</li>
                                <li>
                                    <a href="@Url.Action("Index", "Calendario")" class="ajax">
                                        <span>Calendario</span>
                                    </a>
                                </li>*@
                            </ul>




                            <a href="#Nomina" title="Nómina" data-toggle="collapse">
                                <em class="fa fa-paperclip"></em>
                                <span data-localize="sidebar.nav.Nomina">Nómina</span>
                            </a>
                            <ul id="Nomina" class="nav sidebar-subnav collapse in" aria-expanded="true">

                                @*<li class="sidebar-subnav-header">Catálogo de conceptos</li>
                                <li>
                                    <a href="@Url.Action("Index", "Nomina")" class="ajax">                                        
                                        <span>Catálogo de conceptos</span>
                                    </a>
                                </li>*@

                                <li class="sidebar-subnav-header">Cargar nómina</li>
                                <li>
                                    <a href="@Url.Action("Cargar", "Nomina")" class="ajax">                                        
                                        <span>Cargar nómina</span>
                                    </a>
                                </li>
                                
                            </ul>
                        </li>
                    </ul>
                    <!-- END Menú lateral nav-->
                </nav>
            </div>
            <!-- FIN Menú lateral izquierdo-->
        </aside>
        <section class="section-container">
            <div class="content-wrapper" id="cuerpo">
                <div class="content-heading">
                    <div class="pull-right ">
                        <div class="nombresistema">
                            <div class="logo" style="font-size: 1.4em;">
                                <em class="fa fa-cube"></em>
                            </div>
                            <div class="nombrelogo">
                                <em class="fa fa-cube" style="font-size: 1.4em;"></em>&nbsp Sistema
                            </div>
                        </div>
                    </div>

                    @*<asp:contentplaceholder id="Titulo" runat="server"></asp:contentplaceholder>*@
                    @RenderSection("titulo", required: false)
                </div>
                <div class="row acciones">
                    <div class="pull-right">
                        @RenderSection("acciones", required: false)
                        @*<asp:ContentPlaceHolder ID="Acciones" runat="server"></asp:ContentPlaceHolder>*@
                    </div>
                </div>
                <div class="row">
                    @*<asp:ContentPlaceHolder ID="Contenido" runat="server">
                    </asp:ContentPlaceHolder>*@
                    @RenderBody()
                </div>
            </div>
        </section>
        <footer class="footer-container">
            <div class="pull-left" style="width: 60%">
                <div>
                    <img src="@Url.Content("~/Content/images/escudoCampeche.png")" style="float: left; height: 65px;">
                    <div class="nombrelogo">Instituto de Seguridad y Servicios Sociales de los Trabajadores del Estado de Campeche</div>
                    <div class="logo">ISSSTECAM</div>
                    <div>
                        Calle 10 s/n entre 63 y 65, Col. Centro San Francisco de Campeche, Campeche 
                    </div>
                </div>
                <div style="float: left">

                    <a href="https://issstecam.gob.mx/" target="_blank" title="Sitio" data-toggle="tooltip" data-placement="bottom">
                        <em class="fa fa-globe fa-1_6x text-primary"></em>
                    </a>

                    &nbsp
                    <a title="Facebook" class="links" target="_blank" onclick="" href="https://www.facebook.com/ISSSTECAM/">
                        <em class="fa fa-facebook-square fa-1_6x text-primary"></em>
                    </a>
                    &nbsp
                    <a title="Twitter" class="links" target="_blank" onclick="" href="https://twitter.com/ISSSTECAM">
                        <em class="fa fa-twitter fa-1_6x text-info"></em>
                    </a>
                </div>
            </div>
            <div class="pull-right">
                <div class="nombresistema">
                    <div class="nombrelogo">
                        <img src="@Url.Content("~/Content/images/issstecam_logo.png")" style="height: 55px" />
                    </div>
                    <div class="logo">
                    </div>
                </div>
            </div>
        </footer>
    </div>





    @Scripts.Render("~/bundles/jquery")
    <script src="https://github.com/jquery/jquery-color/blob/master/jquery.color.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.8.3/jquery.csv.min.js"></script>
    <script src="~/Scripts/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/Scripts/jQuery-Storage-API/jquery.storageapi.js"></script>
    <script src="https://bossanova.uk/jexcel/v3/jexcel.js"></script>
    <script src="https://bossanova.uk/jsuites/v2/jsuites.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script src="http://hayageek.github.io/jQuery-Upload-File/4.0.11/jquery.uploadfile.min.js"></script>
    <script src="~/Scripts/jquery.noty.packaged.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-todictionary@1.3.0/jquery-todictionary.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/linq.js/2.2.0.2/jquery.linq.min.js"></script>
    <script src="~/Scripts/jquery.animateNumber.min.js"></script>
    <script src="~/Scripts/select2/js/select2.js"></script>
    <script src="~/Scripts/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/datatables/media/js/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/datatables-colvis/js/dataTables.colVis.js"></script>
    @*<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>*@
    @*<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js"></script>*@
    <script type="text/javascript" src="https://cdn.datatables.net/w/bs-3.3.7/dt-1.10.18/af-2.3.3/b-1.5.6/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.5.0/r-2.2.2/rg-1.1.0/rr-1.2.4/sc-2.0.0/sl-1.3.0/datatables.min.js"></script>

    <script src="https://omnipotent.net/jquery.sparkline/2.1.2/jquery.sparkline.min.js.gz"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>


    <script src="~/Scripts/app.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
